body {
    background-image: url("images/pangolin.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

